<div class="container-col width-100 default-container-margin">
  <div class="filter-container">
    <mat-form-field>
      <mat-label i18n>Field</mat-label>
      <mat-select #selectField (valueChange)="load()">
        <mat-option i18n value="name">Name</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-input">
      <mat-label i18n>Filter</mat-label>
      <input #inputFilter (keyup)="load()" matInput placeholder="chairs">
    </mat-form-field>
  </div>

  <div class="container-row justify-at-start">
    <a i18n mat-raised-button routerLink="/discounts/new">Add discount</a>
  </div>
  <div class="mat-elevation-z8 container-col width-90 default-margin-top">
    <table [dataSource]="dataSource" mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef i18n mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell>Price</th>
        <td *matCellDef="let element" mat-cell>{{ element.price | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef i18n mat-header-cell>Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="edit(element.id)" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(element.id)" color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
    <mat-paginator
      (page)="load()"
      [length]="dataSource.totalElements$ | async"
      [pageSizeOptions]="[5, 10, 25, 50]"
      [pageSize]="50"
      [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>
