<div
  class="container-col width-100 default-container-margin default-margin-top"
>
  <h1 i18n>Customer Details</h1>

  <h2 *ngIf="!hasFound() && !isLoading()" i18n>Customer Not found</h2>

  <ng-template *ngIf="isLoading()">
    <h2 i18n>Loading customer</h2>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-template>

  <form
    *ngIf="hasFound() && !isLoading()"
    [formGroup]="form"
    class="container-col width-90 default-margin-top"
  >
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input formControlName="name" matInput placeholder="Douglas" />
      <mat-error *ngIf="form.get('name')!.hasError('required')" i18n
        >Name is mandatory</mat-error
      >
      <mat-error *ngIf="form.get('name')!.hasError('maxlength')" i18n
        >Name must be less than 255</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>Comment</mat-label>
      <textarea
        formControlName="comment"
        matInput
        placeholder="...."
      ></textarea>
    </mat-form-field>

    <h3 i18n>Phones</h3>
    <ng-container formArrayName="phones">
      <ng-container *ngFor="let phone of phones.controls; let i = index">
        <mat-form-field appearance="outline">
          <mat-label i18n>Phone</mat-label>
          <input
            [formControlName]="i"
            mask="(00) 0000-0000 ||(00) 00000-0000"
            matInput
            placeholder="123456789"
          />
          <mat-error *ngIf="phone.hasError('required')" i18n
            >Phone number is required</mat-error
          >
          <mat-error *ngIf="phone.hasError('minlength')" i18n
            >Phone number must be large than 8</mat-error
          >
          <mat-error *ngIf="phone.hasError('maxlength')" i18n
            >Phone number must be less than 11</mat-error
          >
          <mat-error *ngIf="phone.hasError('pattern')" i18n
            >Phone number is invalid</mat-error
          >
          <button
            (click)="deletePhone(i)"
            color="warn"
            mat-icon-button
            matSuffix
            matTooltip="delete phone"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>
    </ng-container>

    <div class="container-row default-margin-bottom">
      <button
        (click)="addPhone()"
        color="primary"
        mat-mini-fab
        matTooltip="Add new phone"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-form-field *ngIf="!isNew()" appearance="outline">
      <mat-label i18n>Create At</mat-label>
      <input formControlName="createAt" matInput readonly="true" />
    </mat-form-field>

    <mat-form-field *ngIf="!isNew()" appearance="outline">
      <mat-label i18n>Update At</mat-label>
      <input formControlName="updateAt" matInput readonly="true" />
    </mat-form-field>

    <div class="container-row" style="gap: 10px">
      <button (click)="save()" color="primary" i18n mat-raised-button>
        Save
      </button>
      <button (click)="cancel()" i18n mat-raised-button>Cancel</button>
    </div>
  </form>
</div>
