/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
}

.col {
  flex-direction: column;
  display: flex;
}

.row {
  flex-direction: row;
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
  display: flex;
}

.no-wrap {
  flex-wrap: nowrap;
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  display: flex;
}

.content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.max-width {
  width: 100%;
}

.space-around {
  justify-content: space-between;
}
