.item-listing {
  gap: 5px;
}

.cal-price {
  height: 50%;
  margin-top: 10px;
}

.half-size {
  width: 45%;
}

.form-data {
  margin-bottom: 10px;
}

.street {
  width: 80%;
}

.delivery-date {
  margin-bottom: 20px;
}

.street-number { }

.actions-buttons {
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.id {
  min-width: 280px;
}
