<div mat-dialog-title class="container align-center" *ngIf="isCreateMode()">
  {{CREATE_TITLE}}
</div>

<div mat-dialog-title class="container align-center" *ngIf="isChangeMode()">
  {{CHANGE_TITLE}}
</div>

<div mat-dialog-title class="container align-center" *ngIf="isDeleteMode()">
  {{DELETE_TITLE}}
</div>

<div mat-dialog-content>
  <form [formGroup]="formGroup" class="container">
    <mat-accordion class="container col form-data align-center max-width" multi>
      <mat-expansion-panel class="max-width">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Produtos, entrega e retirada
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline" *ngIf="!isCreateMode()">
          <mat-label>Id</mat-label>
          <input matInput formControlName="id" readonly="true">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Datas</mat-label>
          <mat-date-range-input [rangePicker]="picker" [required]="!isCreateMode()">
            <input matStartDate placeholder="Data de início" formControlName="deliverAt">
            <input matEndDate placeholder="Data de término" formControlName="pickUpAt">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <ng-container formArrayName="products">
          <ng-container *ngFor="let product of products.controls; let i = index">
            <div class="container row content-center products" [formGroupName]="i">

              <mat-form-field appearance="outline">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id"/>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" [readonly]="isDeleteMode()" [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filterProducts$ | async" [value]="option.name"
                              (onSelectionChange)="productSelected(option, i)">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Quantidade</mat-label>
                <input matInput placeholder="123456789" formControlName="quantity" [readonly]="isDeleteMode()"
                       type="number"/>
                <mat-error *ngIf="product.get('quantity')!.hasError('required')">Quantidade obrigatório</mat-error>
                <mat-error *ngIf="product.get('quantity')!.hasError('min')">Quantidade precisa ser maior que 0
                </mat-error>
              </mat-form-field>

              <button mat-mini-fab color="warn" (click)="deleteProduct(i)" *ngIf="isCreateMode()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div class="container row content-center products">
          <button mat-mini-fab matTooltip="Adicionar novo produto" (click)="addProduct()" *ngIf="!isDeleteMode()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="container row space-between">
          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="price" type="number" readonly="true">
          </mat-form-field>

          <button mat-flat-button color="primary" class="cal-price" (click)="calculatePrice()" *ngIf="isCreateMode()">
            Calcular preço
          </button>
        </div>

        <div class="container row space-between">
          <mat-form-field appearance="outline" class="half-size">
            <mat-label>Desconto</mat-label>
            <input matInput formControlName="discount" type="number" (change)="updateFinalPrice()">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-size">
            <mat-label>Preço final</mat-label>
            <input matInput formControlName="finalPrice" type="number">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="max-width">
          <mat-label>Comentarios</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>

        <ng-container formArrayName="deliveryBy">
          <mat-label>Entrege por</mat-label>
          <ng-container *ngFor="let by of deliveryBy.controls; let i = index">
            <div class="container row content-center products" [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" [readonly]="isDeleteMode()"/>
              </mat-form-field>

              <button mat-mini-fab color="warn" (click)="deleteDeliveryBy(i)" *ngIf="isCreateMode()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div class="container row content-center products">
          <button mat-mini-fab matTooltip="Adicionar novo entrege por" (click)="addDeliveryBy()"
                  *ngIf="!isDeleteMode()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ng-container formArrayName="pickUpBy">
          <mat-label>Retirado por</mat-label>
          <ng-container *ngFor="let by of pickUpBy.controls; let i = index">
            <div class="container row content-center products" [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" [readonly]="isDeleteMode()"/>
              </mat-form-field>

              <button mat-mini-fab color="warn" (click)="deletePickUpBy(i)" *ngIf="isCreateMode()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div class="container row content-center products">
          <button mat-mini-fab matTooltip="Adicionar novo retirado por" (click)="addPickUpBy()" *ngIf="!isDeleteMode()">
            <mat-icon>add</mat-icon>
          </button>
        </div>


      </mat-expansion-panel>

      <mat-expansion-panel class="max-width" formGroupName="address">
        <mat-expansion-panel-header>
          <mat-panel-title>Endereço</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container row space-between">
          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="street"/>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput formControlName="number"/>
          </mat-form-field>
        </div>

        <div class="container row space-between">
          <mat-form-field appearance="outline" class="half-size">
            <mat-label>Complemento</mat-label>
            <input matInput formControlName="complement"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-size">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="neighborhood"/>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city"/>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel class="max-width" formGroupName="customer">
        <mat-expansion-panel-header>
          <mat-panel-title>Cliente</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container row space-between">
          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id"/>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 80%">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name"/>
          </mat-form-field>

        </div>

        <mat-form-field appearance="outline" class="max-width">
          <mat-label>Comentario</mat-label>
          <textarea matInput formControlName="comment" [readonly]="isDeleteMode()"></textarea>
        </mat-form-field>

        <ng-container formArrayName="phones">
          <ng-container *ngFor="let phone of phones.controls; let i = index">
            <div class="container row content-center phone" [formGroupName]="i">

              <mat-form-field appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput formControlName="number" [readonly]="isDeleteMode()"/>
                <mat-error *ngIf="phone.get('number')!.hasError('required')">Número obrigatório</mat-error>
                <mat-error *ngIf="phone.get('number')!.hasError('pattern')">Número inválido</mat-error>
              </mat-form-field>

              <button mat-mini-fab color="warn" (click)="deletePhone(i)" *ngIf="!isDeleteMode()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div class="container row content-center">
          <button mat-mini-fab matTooltip="Adicionar novo telefone" (click)="addPhone()" *ngIf="!isDeleteMode()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel class="max-width">
        <mat-expansion-panel-header>
          <mat-panel-title>Pagamentos</mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container formArrayName="paymentInstallments">
          <ng-container *ngFor="let payment of paymentInstallments.controls; let i = index">
            <div class="container row content-center phone" [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Pago em</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="at"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput formControlName="amount" type="number"/>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Metodo</mat-label>
                <mat-select formControlName="method">
                  <mat-option value="Pix">Pix</mat-option>
                  <mat-option value="bankTransfer">Transferencia bancaria</mat-option>
                  <mat-option value="cash">Dinheiro</mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-mini-fab color="warn" (click)="deletePaymentInstallment(i)" *ngIf="!isDeleteMode()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container>

        <div class="container row content-center">
          <button mat-mini-fab matTooltip="Adicionar novo pagamento" (click)="addPaymentInstallment()" *ngIf="!isDeleteMode()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
