<div mat-dialog-title class="container align-center" *ngIf="isCreateMode()">
  {{CREATE_TITLE}}
</div>

<div mat-dialog-title class="container align-center" *ngIf="isChangeMode()">
  {{CHANGE_TITLE}}
</div>

<div mat-dialog-title class="container align-center" *ngIf="isDeleteMode()">
  {{DELETE_TITLE}}
</div>

<div mat-dialog-content>
  <form [formGroup]="formGroup" class="container col">

    <mat-form-field appearance="outline" *ngIf="!isCreateMode()">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" readonly="true" />
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" [readonly]="isDeleteMode()" />
<!--      <mat-error></mat-error>-->
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Comentario</mat-label>
      <textarea matInput formControlName="comment" [readonly]="isDeleteMode()"></textarea>
    </mat-form-field>

    <ng-container formArrayName="phones">
      <ng-container *ngFor="let phone of phones.controls; let i = index">
        <div class="container row content-center phone" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput  placeholder="123456789" formControlName="number" [readonly]="isDeleteMode()" />
          </mat-form-field>

          <button mat-mini-fab color="warn" (click)="deletePhone(i)" *ngIf="!isDeleteMode()">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>

    <div class="container row content-center">
      <button mat-mini-fab matTooltip="Adicionar novo telefone" (click)="addPhone()" *ngIf="!isDeleteMode()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="container row content-center actions-buttons">
      <button mat-raised-button matTooltip="Salvar" color="primary" *ngIf="!isDeleteMode()" (click)="save()"><mat-icon>done</mat-icon></button>
      <button mat-raised-button matTooltip="Deletar" color="warn" *ngIf="isDeleteMode()" (click)="delete()"><mat-icon>delete</mat-icon></button>
      <button mat-raised-button matTooltip="Cancelar" (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    </div>
  </form>
</div>
