<div class="container-col width-100 default-container-margin default-margin-top">
  <h1 i18n>Customer Details</h1>

  <h2 *ngIf="!hasFound()" i18n>Customer Not found</h2>

  <ng-template *ngIf="isLoading()">
    <h2 i18n>Loading</h2>
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </ng-template>

  <form [formGroup]="form" class="container-col width-90 default-margin-top" *ngIf="hasFound() && !isLoading()">
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input matInput formControlName="name" placeholder="Douglas"/>
      <mat-error *ngIf="form.get('name')!.hasError('required')" i18n>Name is mandatory</mat-error>
      <mat-error *ngIf="form.get('name')!.hasError('maxlength')" i18n>Name must be less than 255</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>Comment</mat-label>
      <textarea matInput formControlName="comment" placeholder="...."></textarea>
    </mat-form-field>

    <h3 i18n>Phones</h3>
    <ng-container formArrayName="phones">
      <ng-container *ngFor="let phone of phones.controls; let i = index">
        <mat-form-field appearance="outline">
          <mat-label i18n>Phone</mat-label>
          <input matInput mask="(00) 0000-0000 ||(00) 00000-0000" [formControlName]="i" placeholder="123456789"/>
          <mat-error *ngIf="phone.hasError('required')" i18n>Phone number is required</mat-error>
          <mat-error *ngIf="phone.hasError('minlength')" i18n>Phone number must be large than 8</mat-error>
          <mat-error *ngIf="phone.hasError('maxlength')" i18n>Phone number must be less than 11</mat-error>
          <mat-error *ngIf="phone.hasError('pattern')" i18n>Phone number is invalid</mat-error>
          <button color="warn" mat-icon-button matSuffix matTooltip="delete phone" (click)="deletePhone(i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>
    </ng-container>

    <div class="container-row default-margin-bottom">
      <button color="primary" mat-mini-fab matTooltip="Add new phone" (click)="addPhone()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-form-field appearance="outline" *ngIf="!isNew()">
      <mat-label i18n>Create At</mat-label>
      <input matInput formControlName="createAt" readonly="true"/>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isNew()">
      <mat-label i18n>Update At</mat-label>
      <input matInput formControlName="updateAt" readonly="true"/>
    </mat-form-field>

    <div class="container-row" style="gap: 10px">
      <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
      <button mat-raised-button (click)="cancel()" i18n>Cancel</button>
    </div>
  </form>
</div>
