<div class="container-col width-100 default-container-margin default-margin-top">
  <h1 i18n>Product Details</h1>
  <h2 *ngIf="!hasFound" i18n>Product Not found</h2>
  <form [formGroup]="form" class="container-col width-90 default-margin-top" *ngIf="hasFound">
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input matInput formControlName="name" placeholder="Chairs" />
      <mat-error *ngIf="form.get('name')!.hasError('required')" i18n>Name is mandatory</mat-error>
      <mat-error *ngIf="form.get('name')!.hasError('maxlength')" i18n>Name must be less than 255</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>Price</mat-label>
      <input matInput formControlName="price" placeholder="10.00" type="number" step="0.01" />
      <mat-error *ngIf="form.get('price')!.hasError('required')" i18n>Price is mandatory</mat-error>
      <mat-error *ngIf="form.get('price')!.hasError('min')" i18n>Price must be greater than 0</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isNew">
      <mat-label i18n>Create At</mat-label>
      <input matInput formControlName="createAt" readonly="true"/>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isNew">
      <mat-label i18n>Update At</mat-label>
      <input matInput formControlName="updateAt" readonly="true"/>
    </mat-form-field>

    <div class="container-row" style="gap: 10px">
      <button mat-raised-button color="primary" (click)="save()" i18n>Save</button>
      <button mat-raised-button (click)="cancel()" i18n>Cancel</button>
    </div>
  </form>
</div>
